{% extends "/base.html" %}
{% block titulo %}{% endblock %}



{% block contenido %}
<div class="container-fluid color pt-3 ">
    <div class="row ">
        <div class="col-x-4 col-lg-2 text-center">
            <a class="btn btn-outline-light me-3" href="{{url_for('usuario_logueado', id=session['usuario_id'])}}" aria-label="Settings">
                <i class="fa fa-home " aria-hidden="true"></i>
            </a>
            <h4 class="titulo ms-3 d-inline-flex">TuBanD</h4>
        </div>
        <div class="col-x-4 col-lg-7 text-center">
            <a class="btn btn-outline-light m-2" href="">Buscar artistas</a>  
            <p class="font-weight-bold titulo_inicio">Descubre Nuevos artistas y bandas emergentes</p>
        </div>
        <div class="col-xl-2 col-lg-2 text-right ">
            <a class="btn btn-danger signing " href='/logout'>Logout</a>
        </div>
    </div>
    <div class="row m-3">
        
    </div>
</div>
    <div class="container">
        <div class="alert alert-primary" role="alert">
            <h6 class="text-center mt-3">Agrega informacion para que te puedan conocer, mientras mas informacion completes mas conectaras con tu comunidad!</h6>    
        </div>
        <div class="d-flex justify-content-center">
            <a class="btn btn-primary m-3" href="{{url_for('editar_biografia_users')}}">Biografia</a>
            <a class="btn btn-primary m-3" href="{{url_for('add_image_usuarios')}}">Fotos</a>
        </div>
        <div class="row">
            <div class="col-md-12 col-xl-6 mt-5">
                {%if total_imagenes == True %}
                    <h5>No se permite mas fotos</h5>
                {%else%}
                    <form action="{{url_for('upload_photo_usuario')}}" method="post" enctype="multipart/form-data">
                        <div class="mb-1">
                            <div class="mb-3">
                                <label for="formFile" class="form-label">Sube tus Fotos!</label>
                                <input class="form-control" type="file" id="file" name="file">
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-info mt-3 btn-block">Enviar</button>
                        </div> 
                    </form>
                {%endif%}
            </div>
            <div class="col-md-12 col-xl-6 mt-5">
                <h3>Fotos</h3>
                {%if imagenes == None%}
                    <p>Sin Imagenes</p>
                {%else%}
                
                {% for image in imagenes%}
                    <img class="photo mb-2" src="/static/uploads/{{image.image}}" alt="">
                    <a href="{{url_for('destroy_image_usuario', id=image.id)}}">Eliminar</a>
                {%endfor%}
                {%endif%}
            </div>
        </div>
    </div>
{% endblock %}