{% extends "/base.html" %}
{% block titulo %}{% endblock %}



{% block contenido %}
<div class="container-fluid color pt-3 ">
    <div class="row">
        <div class="col-xl-4 col-lg-4 ">
            <a class="btn btn-outline-light " href="/" aria-label="Settings">
                <i class="fa fa-home" aria-hidden="true"></i>
            </a>
        </div>
        <div class="col-xl-4 col-lg-4 ms-5 text-center">
            <h4 class="titulo">TuBanD</h4>
            <p class="font-weight-bold titulo_inicio">Descubre Nuevos artistas y bandas emergentes</p>
        </div>
        <div class="col-xl-4 col-lg-4 text-right ">
            <a class="btn btn-danger signing " href='/logout'>Logout</a>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <a class="btn btn-outline-light m-2" href="{{url_for('artista_logueado', id=data['id'])}}">Home</a>
        <a class="btn btn-outline-light m-2" href="{{url_for('tour', id=data['id'])}}">Tour</a>
        <a class="btn btn-outline-light m-2" href="">Discografia</a>
    </div>
</div>
    
    <div class="container">
        
        <div class="d-flex justify-content-center">
            <a class="btn btn-primary m-3" href="{{url_for('editar_cuenta_biografia')}}">Biografia</a>
            <a class="btn btn-primary m-3" href="{{url_for('add_image')}}">Fotos</a>
            <a class="btn btn-primary m-3" href="{{url_for('add_songs')}}">Canciones</a>
            <a class="btn btn-primary m-3" href="{{url_for('add_integrantes')}}">Integrantes</a>
            <a class="btn btn-primary m-3" href="{{url_for('add_sociales')}}">Redes sociales</a>
            <a class="btn btn-primary m-3" href="">Tour</a>
            <a class="btn btn-primary m-3" href="{{url_for('add_genero')}}">Genero musical</a>
        </div>
        <div class="row">
            <div class="col-md-12 col-xl-6 mt-5">
                <h3 class="text-center mt-3">Agregar Tour</h3>
                <form action="/login" method="post">
                    <div class="mb-3">
                        <label for="nombre_evento" class="form-label"></label>
                        <input type="text" name="nombre_evento" class="form-control" id="nombre_evento" aria-describedby="emailHelp" placeholder="Nombre evento" required>
                    </div>
                    <div class="mb-3">
                        <label for="fecha" class="form-label">Fecha</label>
                        <input type="date" name="fecha" class="form-control" id="fecha" aria-describedby="emailHelp" placeholder="Fecha" required>
                    </div>
                    <div class="mb-3">
                        <label for="hora" class="form-label">Hora</label>
                        <input type="time" name="hora" class="form-control" id="hora" aria-describedby="emailHelp" placeholder="" required>
                    </div>
                    <div class="mb-3">
                        <label for="ciudad" class="form-label"></label>
                        <input type="text" name="ciudad" class="form-control" id="ciudad" aria-describedby="emailHelp" placeholder="Ciudad" required>
                    </div>
                    <div class="mb-3">
                        <label for="region" class="form-label"></label>
                        <input type="text" name="region" class="form-control" id="region" aria-describedby="emailHelp" placeholder="Region" required>
                    </div>
                    <div class="mb-3">
                        <label for="pais" class="form-label"></label>
                        <input type="text" name="pais" class="form-control" id="pais" aria-describedby="emailHelp" placeholder="Pais" required>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-info mt-3 btn-block">Agregar Tour</button>
                    </div> 
                </form>
            </div>
            <div>
                <div class="container">
                    <div class="col-lg-6">
                
                    </div>
                </div>
            </div>
        </div>
</div>
    </div>
    
{% endblock %}