{% extends "/base.html" %}
{% block titulo %}{% endblock %}



{% block contenido %}
<div class="container-fluid color pt-3 ">
    <div class="row ">
        <div class="col-x-4 col-lg-2 text-center">
            <a class="btn btn-outline-light me-3" href="{{url_for('artista_logueado', id=session['artista_id'])}}" aria-label="Settings">
                <i class="fa fa-home " aria-hidden="true"></i>
            </a>
            <h4 class="titulo ms-3 d-inline-flex">TuBanD</h4>
        </div>
        <div class="col-x-4 col-lg-7 text-center">
            <a class="btn btn-outline-light m-2" href="{{url_for('tour')}}">Tour</a>
            <a class="btn btn-outline-light m-2" href="">Discografia</a>
            <a class="btn btn-outline-light m-2" href="">Contacto</a>
            <a class="btn btn-outline-light m-2" href="{{url_for('artistas_registrados')}}">Buscar artistas</a> 
            <p class="font-weight-bold titulo_inicio">Descubre Nuevos artistas y bandas emergentes</p>
        </div>
        <div class="col-xl-2 col-lg-2 text-right ">
            <a class="btn btn-danger signing " href='/logout'>Logout</a>
        </div>
    </div>
    <div class="row m-3">
        
    </div>
</div>
    
    <div class="container">
        <div class="alert alert-primary" role="alert">
            <h6 class="text-center mt-3">Agrega informacion para que te puedan conocer, mientras mas informacion completes mas conectaras con tu comunidad!</h6>    
        </div>
        <div class="d-flex justify-content-center">
            <a class="btn btn-primary m-3" href="{{url_for('editar_cuenta_biografia')}}">Biografia</a>
            <a class="btn btn-primary m-3" href="{{url_for('add_image')}}">Fotos</a>
            <a class="btn btn-primary m-3" href="{{url_for('add_songs')}}">Canciones</a>
            <a class="btn btn-primary m-3" href="{{url_for('add_integrantes')}}">Integrantes</a>
            <a class="btn btn-primary m-3" href="{{url_for('add_sociales')}}">Redes sociales</a>
            <a class="btn btn-primary m-3" href="{{url_for('add_tour')}}">Tour</a>
            <a class="btn btn-primary m-3" href="{{url_for('add_genero')}}">Genero musical</a>
        </div>
        <div class="row">
            <div class="col-md-12 col-xl-6 mt-5">
                <h3 class="text-center mt-3">Agregar Tour</h3>
                <form action="/login" method="post">
                    <div class="mb-3">
                        <label for="nombre_evento" class="form-label"></label>
                        <input type="text" name="nombre_evento" class="form-control" id="nombre_evento" aria-describedby="emailHelp" placeholder="Nombre evento" required>
                    </div>
                    <div class="mb-3">
                        <label for="fecha" class="form-label">Fecha</label>
                        <input type="date" name="fecha" class="form-control" id="fecha" aria-describedby="emailHelp" placeholder="Fecha" required>
                    </div>
                    <div class="mb-3">
                        <label for="hora" class="form-label">Hora</label>
                        <input type="time" name="hora" class="form-control" id="hora" aria-describedby="emailHelp" placeholder="" required>
                    </div>
                    <div class="mb-3">
                        <label for="ciudad" class="form-label"></label>
                        <input type="text" name="ciudad" class="form-control" id="ciudad" aria-describedby="emailHelp" placeholder="Ciudad" required>
                    </div>
                    <div class="mb-3">
                        <label for="region" class="form-label"></label>
                        <input type="text" name="region" class="form-control" id="region" aria-describedby="emailHelp" placeholder="Region" required>
                    </div>
                    <div class="mb-3">
                        <label for="pais" class="form-label"></label>
                        <input type="text" name="pais" class="form-control" id="pais" aria-describedby="emailHelp" placeholder="Pais" required>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-info mt-3 btn-block">Agregar Tour</button>
                    </div> 
                </form>
            </div>
            <div>
                <div class="container">
                    <div class="col-lg-6">
                
                    </div>
                </div>
            </div>
        </div>
</div>
    </div>
    
{% endblock %}