{% extends "/base.html" %}
{% block titulo %}{% endblock %}



{% block contenido %}
<div class="container-fluid color pt-3 ">
    <div class="row">
        <div class="col-xl-4 col-lg-4 ">
            <a class="btn btn-outline-light " href="/" aria-label="Settings">
                <i class="fa fa-home" aria-hidden="true"></i>
            </a>
        </div>
        <div class="col-xl-4 col-lg-4 ms-5 text-center">
            <h4 class="titulo">TuBanD</h4>
            <p class="font-weight-bold titulo_inicio">Descubre Nuevos artistas y bandas emergentes</p>
        </div>
        <div class="col-xl-4 col-lg-4 text-right ">
            <a class="btn btn-danger signing " href='/logout'>Logout</a>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <a class="btn btn-outline-light m-2" href="{{url_for('artista_logueado', id=data['id'])}}">Home</a>
        <a class="btn btn-outline-light m-2" href="{{url_for('tour', id=data['id'])}}">Tour</a>
        <a class="btn btn-outline-light m-2" href="">Discografia</a>
    </div>
</div>
    <div class="container">
        <h3 class="text-center mt-3">Editar cuenta</h3>
        <div class="d-flex justify-content-center">
            <a class="btn btn-primary m-3" href="{{url_for('editar_cuenta_biografia', id=data['id'])}}">Biografia</a>
            <a class="btn btn-primary m-3" href="{{url_for('editar_cuenta_image', id=data['id'])}}">Fotos</a>
            <a class="btn btn-primary m-3" href="{{url_for('editar_cuenta_songs', id=data['id'])}}">Canciones</a>
            <a class="btn btn-primary m-3" href="{{url_for('editar_integrantes', id=data['id'])}}">Integrantes</a>
            <a class="btn btn-primary m-3" href="{{url_for('editar_sociales', id=data['id'])}}">Redes sociales</a>
            <a class="btn btn-primary m-3" href="{{url_for('add_tour', id=data['id'])}}">Tour</a>

        </div>
        <div class="row">
            <div class="col-md-12 col-xl-6 mt-5">
                <form action="/login" method="post">
                    {% for artista in artistas %}
                        <div class="mb-3">
                            <label for="username" class="form-label"></label>
                            <input type="text" value="{{artista.username}}" name="username" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Username" required>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label"></label>
                            <input type="email" value="{{artista.email}}" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="email" required>
                        </div>
                    {%endfor%}
                    <div class="mb-3">
                    {% for item in info_artista%}
                        <label for="año_formacion" class="form-label"></label>
                        <input type="number" value="{{item.año_formacion}}" name="año_formacion" class="form-control" id="año_formacion" aria-describedby="emailHelp" placeholder="Año formacion" required>
                    </div>
                    <div class="mb-1">
                        <textarea name="biografia" id="" cols="70" rows="10" placeholder="Biografia" required>{{item.biografia}}</textarea>
                    </div>
                    {% endfor %}
                    <div class="text-center">
                        <button type="submit" class="btn btn-info mt-3 btn-block">Agregar</button>
                    </div> 
                </form>
            </div>
        </div>
    </div>
{% endblock %}