{% extends "/base.html" %}
{% block titulo %}{% endblock %}



{% block contenido %}
<div class="container-fluid color pt-3 ">
    <div class="row ">
        <div class="col-x-4 col-lg-2 text-center">
            <a class="btn btn-outline-light me-3" href="{{url_for('artista_logueado', id=session['artista_id'])}}" aria-label="Settings">
                <i class="fa fa-home " aria-hidden="true"></i>
            </a>
            <h4 class="titulo ms-3 d-inline-flex">TuBanD</h4>
        </div>
        <div class="col-x-4 col-lg-7 text-center">
            <a class="btn btn-outline-light m-2" href="{{url_for('tour')}}">Tour</a>
            <a class="btn btn-outline-light m-2" href="">Discografia</a>
            <a class="btn btn-outline-light m-2" href="">Contacto</a>
            <a class="btn btn-outline-light m-2" href="">Buscar artistas</a>  
            <p class="font-weight-bold titulo_inicio">Descubre Nuevos artistas y bandas emergentes</p>
        </div>
        <div class="col-xl-2 col-lg-2 text-right ">
            <a class="btn btn-danger signing " href='/logout'>Logout</a>
        </div>
    </div>
    <div class="row m-3">
        
    </div>
</div>
    <div class="container">
        <div class="alert alert-primary" role="alert">
            <h6 class="text-center mt-3">Agrega informacion para que te puedan conocer, mientras mas informacion completes mas conectaras con tu comunidad!</h6>    
        </div>
        <div class="d-flex justify-content-center">
            <a class="btn btn-primary m-3" href="{{url_for('editar_cuenta_biografia')}}">Biografia</a>
            <a class="btn btn-primary m-3" href="{{url_for('add_image')}}">Fotos</a>
            <a class="btn btn-primary m-3" href="{{url_for('add_songs')}}">Canciones</a>
            <a class="btn btn-primary m-3" href="{{url_for('add_integrantes')}}">Integrantes</a>
            <a class="btn btn-primary m-3" href="{{url_for('add_sociales')}}">Redes sociales</a>
            <a class="btn btn-primary m-3" href="{{url_for('add_tour')}}">Tour</a>
            <a class="btn btn-primary m-3" href="{{url_for('add_genero')}}">Genero musical</a>
            <a class="btn btn-outline-light m-2" href="{{url_for('artistas_registrados')}}">Buscar artistas</a> 
            
        </div>
        <h3>Agrega el link de tus redes sociales</h3>
        <div class="row">
            <div class="col-md-12 col-xl-6 mt-5">
                {% if sociales == None %}
                <form action="" method="post">
                    <div class="mb-3">
                            <label for="facebook" class="form-label"></label>
                            <input type="text" name="facebook" class="form-control" id="facebook" aria-describedby="emailHelp" placeholder="Facebook" >
                    </div>
                    <div class="mb-3">
                        <label for="youtube" class="form-label"></label>
                        <input type="text"  name="youtube" class="form-control" id="youtube" aria-describedby="emailHelp" placeholder="Youtube" >
                    </div>
                    <div class="mb-3">
                        <label for="amazon_music" class="form-label"></label>
                        <input type="text" name="amazon_music" class="form-control" id="amazon_music" aria-describedby="emailHelp" placeholder="amazon_music">
                    </div>
                    <div class="mb-3">
                        <label for="apple_music" class="form-label"></label>
                        <input type="text" name="apple_music" class="form-control" id="apple_music" aria-describedby="emailHelp" placeholder="apple_music">
                    </div>
                    <div class="mb-3">
                        <label for="tidal" class="form-label"></label>
                        <input type="text" name="tidal" class="form-control" id="tidal" aria-describedby="emailHelp" placeholder="Tidal">
                    </div>
                    <div class="mb-3">
                        <label for="spotify" class="form-label"></label>
                        <input type="text" name="spotify" class="form-control" id="spotify" aria-describedby="emailHelp" placeholder="Spotify">
                    </div>
                    <div class="mb-3">
                        <label for="instagram" class="form-label"></label>
                        <input type="text" name="instagram" class="form-control" id="instagram" aria-describedby="emailHelp"  placeholder="Instagram">
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-info mt-3 btn-block">Agregar</button>
                    </div> 
                </form>
                {%else%}
                {%for social in sociales%}
                <form action="" method="post">
                    <div class="mb-3">
                        <label for="facebook" class="form-label"></label>
                        <input type="text" value="{{ social.facebook }}" name="facebook" class="form-control" id="facebook" aria-describedby="emailHelp" placeholder="Facebook" >
                </div>
                <div class="mb-3">
                    <label for="youtube" class="form-label"></label>
                    <input type="text" value="{{ social.youtube }}"  name="youtube" class="form-control" id="youtube" aria-describedby="emailHelp" placeholder="Youtube" >
                </div>
                <div class="mb-3">
                    <label for="amazon_music" class="form-label"></label>
                    <input type="text" value="{{ social.amazon_music }}" name="amazon_music" class="form-control" id="amazon_music" aria-describedby="emailHelp" placeholder="amazon_music">
                </div>
                <div class="mb-3">
                    <label for="apple_music" class="form-label"></label>
                    <input type="text" value="{{ social.apple_music }}" name="apple_music" class="form-control" id="apple_music" aria-describedby="emailHelp" placeholder="apple_music">
                </div>
                <div class="mb-3">
                    <label for="tidal" class="form-label"></label>
                    <input type="text" name="tidal" class="form-control" id="tidal" aria-describedby="emailHelp" placeholder="Tidal">
                </div>
                <div class="mb-3">
                    <label for="spotify" class="form-label"></label>
                    <input type="text" value="{{ social.spotify }}" name="spotify" class="form-control" id="spotify" aria-describedby="emailHelp"  placeholder="Spotify">
                </div>
                <div class="mb-3">
                    <label for="instagram" class="form-label"></label>
                    <input type="text" value="{{ social.instagram }}"  name="instagram" class="form-control" id="instagram" aria-describedby="emailHelp" placeholder="Instagram">
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-info mt-3 btn-block">Agregar</button>
                </div> 
                </form>

                
                {% endfor %}
                {% endif %}
            </div>
           
            </div>
        </div>
    </div>
{% endblock %}