{% extends "/base.html" %}
{% block titulo %}{% endblock %}



{% block contenido %}
<div class="container-fluid color pt-3">
    <div class="row ">
        <div class="col-x-4 col-lg-2 text-center">
            <a class="btn btn-outline-light me-3" href="{{url_for('artista_logueado', id=session['artista_id'])}}" aria-label="Settings">
                <i class="fa fa-home " aria-hidden="true"></i>
            </a>
        </div>
        <div class="col-x-4 col-lg-7 text-right">
            <h4 class="titulo ms-3 d-inline-flex">TuBanD</h4>
            <a class="btn btn-outline-light m-2" href="{{url_for('artista_logueado', id=session['artista'])}}">Home</a>
            <a class="btn btn-outline-light m-2" href="{{url_for('tour')}}">Tour</a>
            <a class="btn btn-outline-light m-2" href="">Discografia</a>
            <a class="btn btn-outline-light m-2" href="">Contacto</a>
            <a class="btn btn-outline-light m-2" href="{{url_for('editar_cuenta_biografia')}}">Editar cuenta</a>  
            <a class="btn btn-outline-light m-2" href="{{url_for('artistas_registrados')}}">Buscar artistas</a>  
        </div>
        <div class="col-xl-2 col-lg-2 text-right ">
            <a class="btn btn-danger signing " href='/logout'>Logout</a>
        </div>
    </div>
    <div class="row m-3 d-flex justify-content-center">
        <p class="font-weight-bold titulo_inicio">Descubre Nuevos artistas y bandas emergentes</p>
    </div>
</div>

<div class="container border mt-5">
    {%for artista in artistas%}
    <h1 class="text-center mt-3">{{artista.username | title}}</h1>
    {%endfor%}
    <div class="row mt-5">
        <div class="col-lg-5 text-center mt-3">
            {%if imagen == None%}
                <img class="rounded-circle" style="width:100%;max-width:300px" src="{{ url_for('static', filename= 'img/avatar.webp') }}" alt="">
                <a class="btn btn-primary m-3" href="{{url_for('add_image')}}">Agregar Foto perfil</a>
            {%else%}
            {%for image in imagen%}
                <img class="rounded-circle" style="width:100%;max-width:300px" src="{{ url_for('static', filename='uploads/' + image['image']) }}" alt="">
            {%endfor%}
            {%endif %}
    
        </div>
       
        <div class="col-lg-5">
            
                {%for artista in artistas%}
                    {%if artista.biografia == None%}
                    <div class="alert alert-warning" role="alert">
                        <h3>Bienvenido!</h3>
                        <h3>TuBanD para Artistas</h3>
                        <p>TuBanD es una plataforma de difusion musical que apoya directamente a los  artistas
                            emergentes, dandole visibilidad para que productoras, fans y comunidad musical puedan 
                            conectarse libremente y  acortar la distancia entre ellos.
                        </p>
                    </div>
                        <a class="btn btn-primary m-2" href="{{url_for('editar_cuenta_biografia')}}">Editar biografia</a>
                    {%else%}
                    <p class=" text-justify">{{artista.biografia}}</p>
                    {%endif %}
                {%endfor%}
            
        </div>
        <div class="col-lg-2">
            <a class="btn btn-primary mt-2" href="">Following</a>
            
            <div class="mt-2">
                <h6>Siguelos en sus redes sociales</h6>
                <a href="" >
                    <img style="width:100%;max-width:30px" src="{{ url_for('static', filename='img/amazon.png') }}" alt="">
                </a>
                <a href="" >
                    <img style="width:100%;max-width:50px" src="{{ url_for('static', filename='img/apple.png') }}" alt="">
                </a>
                <a href="" >
                    <img style="width:100%;max-width:40px" src="{{ url_for('static', filename='img/facebook.jpg') }}" alt="">
                </a>
                <a href="" >
                    <img style="width:100%;max-width:40px" src="{{ url_for('static', filename='img/instagram.webp') }}" alt="">
                </a>
                <a href="" >
                    <img style="width:100%;max-width:40px" src="{{ url_for('static', filename='img/spotify.webp') }}" alt="">
                </a>
                <a href="" >
                    <img style="width:100%;max-width:40px" src="{{ url_for('static', filename='img/tidal.png') }}" alt="">
                </a>
                <a href="" >
                    <img style="width:100%;max-width:40px" src="{{ url_for('static', filename='img/youtube.png') }}" alt="">
                </a>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-5 text-center">
            {%if canciones == None%}
                
                    
            {%else%}
            <h5>Reproduce una cancion!</h5>
            {%for cancion in canciones%}
            <p>{{cancion.cancion| title}}</p>
            
            <audio controls>
                <source src="{{ url_for('static', filename='uploads/' + cancion.cancion) }}" type="audio/mp3">
            </audio>
            {%endfor%}
            {%endif %}
        </div>
        <div class="col-lg-6 text-center">
            {%if integrantes == None%}
            {%else%}
            {%for artista in artistas%}
                <p class="font-weight-bold">Año formacion: {{artista.año_formacion}}</p>
            {%endfor%}
            {%endif %}
            {%if integrantes == None%}
                
                
            {%else%}    
                <p class="font-weight-bold">Integrantes:</p>
                {%for integrante in integrantes%}
                <p>{{integrante.nombre}} <span class="font-weight-bold">{{integrante.instrumento}}</span></p>
                {%endfor%}
            {%endif %}
        </div>
        
    </div>


    
</div>

{% endblock %}